/* my colour pallet: #583D72 #9F5F80 #FFBA93 #FF8E71 */
body {
  background-color: #944E6C;
  text-align: center;
}

h1 {
  color: #F6AE99;
  font-family: 'Dancing Script', cursive;
  font-size: 4.5rem;
}

h2 {
  color: #F6AE99;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 50px;
}

/*
.top {
  background-color:#D83A56;
}
*/
.bottom_cloud {
  position: absolute;
  left: 470px;
}

.growth {
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

.hospitality {
  border-radius: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.heart_rate {
  background-color: white;
  border-radius: 100%;
  height: 110px;
  margin-top: 10px;
  width: 110px;
}

.middle-container {
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.middle-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #583D72;
  border-radius: 50%;
  text-align: center;
  padding: 74px 0;
}

.overlay_text {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.paw_prints {
  height: 95px;
  margin-top: 10px;
  width: 95px;
}

.programmer {
  color: #F2E1C1;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.skill-row .middle-container {
  width: 100%;
  margin: 2rem;
  text-align: center;
}

.top {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.top_cloud {
  position: absolute;
  right: 425px;
  top: 10px;
}

.yoga {
  height: 120px;
  margin-top: 10px;
  width: 120px;
}