body {
  background-color:#944E6C;
  text-align: center;

}

h1 {
color: #F6AE99;
font-family: 'Dancing Script', cursive;
font-size: 4.5rem;
}

h2 {
  color: #F6AE99;
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

/*
.top {
  background-color:#D83A56;
}
*/
.bottom {
    }
.bottom_cloud {
  position: absolute;
  left: 470px;
    }
.growth {
  height:100px;
  margin-top: 10px;
  width: 100px;
      }
.hospitality {
    border-radius: 100%;
    height: 100px;
    margin-top:10px;
    width: 100px;
        }

.heart_rate {
    height:110px;
    margin-top: 10px;
    width: 110px;
    }

.middle {
    }

  .paw_prints {
    height:95px;
    margin-top:10px;
    width: 95px;
  }

.programmer {
  color:#F2E1C1;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.top{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.top_cloud{
  position: absolute;
    right: 425px;
    top: 10px;
}

.yoga {
  height:120px;
  margin-top: 10px;
  width: 120px;
}
